apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ gitops_application_name }}
  namespace: openshift-gitops
spec:
  destination:
    server: https://kubernetes.default.svc
  project: default
  source:
    path: {{ app_repo_path }}
    repoURL: {{ repo_url }}
    targetRevision: HEAD
  syncPolicy:
    automated: {}
    syncOptions:
    - CreateNamespace=false
